<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>
<% if @users %>
<div class="results-block">
  <table class="table table-striped">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
  </table>
  </div>
<% end %>
